h1{font-family: arial;
color: #FF9900;border-radius: 25px;
  background: #3300FF;
  padding: 20px; 
  width: 400px;
  height: 180px;line-height: 180px;font-size: 4em;text-align: center;}
body{font-family: arial;color: #FFFFFF;border-radius: 25px;background: #FF9900;padding: 20px;width:400px;height: 25px;font-size: 1.25em;text-align: left;}