h1{font-family: arial;
color: #33CC33;border-radius: 25px;
  background: #FFCC33;
  padding: 20px; 
  width: 400px;
  height: 180px;font-size: 4em;text-align: center;}
body{font-family: arial;color: #FFFFFF;border-radius: 25px;background: #33CC33;padding: 20px;width:400px;height: 25px;font-size: 1.25em;text-align: left;}